doctype
html
	head
		title Pinsy
		link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="/lib/toastr/toastr.css")
		link(rel="stylesheet" href="/css/site.css")
		link(rel="stylesheet" href="/css/splash.css")
		link(rel="stylesheet" href="/css/map.css")
		link(rel="stylesheet" href="//vjs.zencdn.net/5.8/video-js.min.css")
	body(ng-app="app")
		block main-content

		include scripts
		include currentUser