.word-cloud {
  width: 100%;
  height: 100%;
}

.word-cloud-tag-selected {
  width: calc(100% - 435px);
}

@media screen and (max-width: 782px) {
  .word-cloud {
    width: 100%;
  }
}

.word-cloud-link {
  color: #f5f5f5;
  font-size: 26px;
}

.bubble-chart-example, .bar-chart-example , .most-active-users, .most-liked-pins{
  width:900px;
  height:600px;
}

.pins-with-tag-view {
  height: inherit;
  position: absolute;
  right: 0;
  top: 10%;
  background-color: rgba(181, 181, 199, 0.55);
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  transition: width 1s ease-in-out;
  width: 450px;
}

.axis--x path {
  display: none;
}

.pins-table-closed {
  width: 0px;
  padding: 0;
  transition: width 1s ease-in-out;
}

.close {
  opacity: 0;
}

.graphic-title {
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}