body {
  padding: 70px 10px 0px 10px;
}

footer p {
  border-top: 1px solid #8d8d8d;
  padding: 20px 20px;
  margin-top: 150px;
}

input {
  margin-right: 15px;
}

.toast-top-right {
  top: 70px;
}

.inner-form-container {
  margin-top: 100px;
}

.title-container {
  background-image: -moz-linear-gradient(left, #337AB7 9%, #29FFFF 90%);
  background-image: -webkit-linear-gradient(left, #337AB7 9%, #29FFFF 90%);
  box-shadow: 10px 10px 5px #337AB7;
}

.header-container {
  background-color: #3292C4;
}

.pins-container {
  padding-top: 50px;
}

.main-heading {
  color: white !important;
}

.search-bar {
  padding: 20px;
}

.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.logo {
  position: absolute;
  background-image: url('/img/GoogleMaps2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.menu {
  margin-left: 50px !important;
}

.carousel-container {
  height: 400px;
  width: calc(100% - 200px);
  margin: auto;
  max-width: 1000px;
}

.carousel-item {
  height: 400px;
}

a.main-link {
  color: white !important;
}

a.main-link:focus, a.main-link:hover{
  color: #ccc !important;
}

.dropdown-menu {
  background-color: #3292C4 !important;
}

.dropdown-link {
  background: none !important;
}

.disable-scroll {
  overflow: hidden;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 13%;
  height:10%;
  padding: 2vw;
  font: 1.2vw sans-serif;
  border: 0px;
  border-radius: 8px;
  color:black;
  box-shadow: -3px 3px 15px #888888;
  opacity:0;
}

.pin-relative-date {
  margin: 5px 0 30px;
}

.actions {
  width: 60px;
}
