.google-map {
  margin-top: 40px
}

.title-on-map, .whole-pin-title {
  border-bottom: 2px solid #B3D1FF;
  font-weight: bold;
  padding: 0 10px;
  font-family: sans-serif;
}

.image-on-map {
    max-width: 120px !important;
    max-height: 120px !important;
}

/*.whole-info-window {
  border: 2px solid #3292C4;
  border-bottom-width: 1px;
  border-radius: 5px !important;
  min-width: 400px;
}*/

.creator-on-map {
  padding-top: 5px;
  font-style: italic;
  color: #110D44;
}

.content-info-window {
  min-width: 380px;
}

.image-cell-on-map {
  width: 100px;
  /*float: right;*/
}

.description-on-map {
  padding: 10px;
}

.see-more {
  padding-top: 5px;
}

.see-more-link {
  color: #337ab7 !important;
}