.splash-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.splash {
	background-image: url('/img/GoogleMaps2.png');
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 220px;
    height: 220px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
}

.splash-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    z-index: 1000;
    -webkit-transform: translateX(0);
    transform: translateX(0); 
}

.splash-section.section-left {
    background-image: -moz-linear-gradient(left, #337AB7 9%, #29FFFF 90%);
    background-image: -webkit-linear-gradient(left, #337AB7 9%, #29FFFF 90%);
    left: 0;
}

.splash-section.section-right {
    background-image: -moz-linear-gradient(right, #337AB7 9%, #29FFFF 90%);
    background-image: -webkit-linear-gradient(right, #337AB7 9%, #29FFFF 90%);
    right: 0;
}

.splash-text {
    color: white;
    text-shadow: 3px 2px 48px #1B0204;
    z-index: 1001;
    height: 100px;
    width: 100%;
    font-size: 50px;
    left: calc(50% - 160px);
    top: 16%;
    position: absolute;
}

/* Leaving splash screen */

.leaving .splash-text {
    opacity: 0;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
}

.leaving .splash-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);  

    -webkit-transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.leaving .splash-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -webkit-transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.leaving .splash-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  
    transform: translateY(-100%);  

    -webkit-transition: all 0.3s 1s ease-out;  
    transition: all 0.3s 1s ease-out;
}

.leaving .splash {
	opacity: 0.5;
    
	-webkit-transform: translate( -270%, -185%) scale(0.3, 0.3);
    transform: translate( -270%, -185%) scale(0.3, 0.3);

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}