.whole-pin-dialog {
  padding: 30px;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 60px 40px 40px;
  background-color: #FFF;
  overflow-y: scroll;
  box-shadow: 1px 2px 6px 3px rgba(50, 146, 196, 0.78)
}

::-webkit-scrollbar {
  display: none;
}

.whole-pin-data {
  width: 100%;
  height: 100%;
}

.whole-pin-description {
  padding: 20px 0 20px 20px;
  min-width: 200px;
}

.whole-image-cell {
  max-width: 50%;
}

.whole-image {
  max-width: 100%;
  max-height: 600px;
  margin: 30px 0;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  top: 0;
  background-color: rgba(27, 19, 19, 0.77);
}

.creator-on-whole {
  float: right;
}

@media screen and (min-width: 992px) {
  .whole-pin-description {
    min-width: 300px;
  }
}
