<div class="profile-container" ng-repeat="user in users">
  <div class="user-basic-info">
    <img class="user-picture" src="../../img/police-cat.jpg">
    <table class="table profile-table" >
      <tr>
        <td> Username </td>
        <td> {{ user.username }} </td>
      </tr>
      <tr>
        <td> First name </td>
        <td> {{ user.firstName }} </td>
      </tr>
      <tr>
        <td> Last name </td>
        <td> {{ user.lastName }} </td>
      </tr>
      <tr>
        <td> Number of pins </td>
        <td> {{ user.pins.length }} </td>
      </tr>
    </table>
  </div>
  <div class="user-profile-menu">
    <button class="btn btn-primary change-view-button" ng-click="changeView('about')"> About </button>
    <button class="btn btn-primary change-view-button" ng-click="changeView('pins')"> Recent pins </button>
    <button class="btn btn-primary change-view-button" ng-click="changeView('comments')"> Recent comments </button>
  </div>
  <table class="table about-table" ng-if="!commentsViewOpened && !pinsViewOpened">
    <tr>
      <td> From </td>
      <td> {{ data.from }} </td>
    </tr>
   </table>
  <table class="table pins-table" ng-if="pinsViewOpened">
    <tr ng-repeat="currentPin in pins">
      <td ng-include="'app/pins/info-window.html'"> </td>
    </tr>
   </table>
  <table class="table comments-table" ng-if="commentsViewOpened">
    <tr ng-repeat="comment in commentsFromUser">
      <td> Comment </td>
      <td> {{ comment.content }} </td>
    </tr>
  </table>

  <div class="overlay" ng-show="pinDataOpened" ng-click="toggleWholePinOpened()"> </div>
  <whole-pin-dialog class="whole-pin-dialog" ng-if="pinDataOpened" pin='currentPin' on-close='toggleWholePinOpened()' open-profile='openProfile(userId)'> </whole-pin-dialog>
</div>
