.graphic-title Most Active Users
bubble-chart(bubble-chart-data="mostActiveUsers", container-name="most-active-users", on-bubble-click="onBubbleClick(userId)")
.graphic-title Most Liked Pins from last few days
bar-chart(bar-chart-data="mostLikedPins", container-name="most-liked-pins" on-bar-click="onBarChartClick(pinId)")
