ul.nav.navbar-nav(ng-controller="LoginController", ng-show="identity.isAuthenticated()")
          li
            a.main-link(href="#/new-pin") Add new pin
          li
            a.main-link(href="#/all-pins") All pins
          li
            a.main-link(href="#/word-cloud") Popular themes
          li
            a.main-link(href="#/pie") Most Popular
          li
            a.main-link(href="#/recent") Recent activity

.navbar-right(ng-controller="LoginController")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .form-group
      input.form-control(type="text", placeholder="Username", ng-model="user.username")
      input.form-control(type="password", placeholder="Password", ng-model="user.password")
    button.btn.btn-primary(ng-click="login(user)") Login
    a.btn.btn-primary(href="#/signup") Signup

  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.main-link.dropdown-link.dropdown-toggle(href="", data-toggle="dropdown")
        | {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
        span.caret
      ul.dropdown-menu
        li(ng-show="identity.currentUser.isAdmin()")
          a.main-link(href="#/admin/users") Users
        li
          a.main-link(href="#/user-profile") My profile
        li
          a.main-link(href="/" ng-click="logout()") Sign Out
