<div class="comments">
  <div class="add-comment-area" ng-if="!isInformative">
    <span class="user-posting"> {{ currentUser.username }} </span>
    <input class="new-comment-input form-control" type="text" placeholder="Comment" ng-model="newComment">
    <button class="btn btn-primary post-comment-button" ng-click="addComment(newComment)"> Post it
  </div>
  <table class="comments-section"> Comments
    <table class="comment-table" ng-repeat="comment in comments">
      <tr>
        <td></td>
        <td class="comment-creator" ng-click="openProfile(comment.user)"> {{ comment.creator[0].username }} </td>
      </tr>
      <tr>
        <td>
          <img class="creator-picture" src="../../img/police-cat.jpg">
        </td>
        <td class="comment-content"> {{ comment.content }} </td>
      </tr>
      <tr>
        <td></td>
        <td class="comment-date"> {{ comment.relativeDate }} </td>
      </tr>
    </table>
  </table>
</div>