.container
	.jumbotron.title-container
		h1.main-heading Pinsy
		h2.main-heading Welcome to Pinsy!

div#carousel-example.carousel.slide.carousel-container(data-ride="carousel")
	ol.carousel-indicators
		li.first-carousel-indicator(data-target="#carousel-example" data-slide-to="0")
		li(data-target="#carousel-example" data-slide-to="1")
		li(data-target="#carousel-example" data-slide-to="2")
		li(data-target="#carousel-example" data-slide-to="3")
		li(data-target="#carousel-example" data-slide-to="4")
	.carousel-inner(role="listbox")
		.carousel-item.item.active
			img(src="../../img/travelling-alone.jpg" alt="First slide")
			.carousel-caption
				h2 Share your story with us
		.carousel-item.item
			img(src="../../img/google-maps.jpg" alt="Second slide")
			.carousel-caption
				h2 And check out stories from around the world
		.carousel-item.item
			img(src="../../img/plane.jpg" alt="Third slide")
			.carousel-caption
				h2 Travel and experience
		.carousel-item.item
			img(src="../../img/sunset-fun.jpg" alt="Forth slide")
			.carousel-caption
				h2 It's so easy! Just use Pinsy.
		.carousel-item.item
			img(src="../../img/flowers.JPG" alt="Fifth slide")
			.carousel-caption
				h3 Check out most popular pin themes in our
				a.word-cloud-link(href='#/word-cloud') Word Cloud!
	a.left.carousel-control(href="#carousel-example" role="button" data-slide="prev")
		span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
		span.sr-only Previous
	a.right.carousel-control(href="#carousel-example" role="button" data-slide="next")
		span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
		span.sr-only Next
