.recent-pins-container
    .recent-pins
        .recent-title Recently added pins
        .pins-table(ng-repeat="recentPin in recentPins")
            info-window-custom(pin="recentPin", is-informative="true")
            .pin-relative-date Added {{recentPin.relativeDate}}
    .recent-pins
        .recent-title Most popular pins today
        .pins-table(ng-repeat="popularToday in popularTodayPins")
            info-window-custom(pin="popularToday", is-informative="true")
            .like-title This is like from today!
.recent-comments-container
    .recent-title Recently added comments
    comments-section(is-informative='true', limit='10')
