.container.pins-container
  .row
    .col-md-12
      .input-group.search-bar
        input(type="text" class="form-control" placeholder="Search for pins" ng-model="search.query")
        .input-group-btn
          button.btn.btn-primary(type="submit")
            span.glyphicon.glyphicon-search(aria-hidden="true")
  ng-map(default-style="true" zoom="6" center="[43.74, 24.18]")
    marker(id="{{ pin._id }}", ng-repeat="pin in pins | filter: search.query",
      position="{{ pin.markerPosition }}"
      on-click="showData(event, pin)"
      title="{{ pin.title }}")

    info-window#pin-iw(visible-on-marker="{{ pin._id }}")
      div(ng-non-bindable)
        div(ng-include="'app/pins/info-window.html'")
  .overlay(ng-show="currentPin && wholePinOpened", ng-click="toggleWholePinOpened()")
  whole-pin-dialog.whole-pin-dialog(ng-if="currentPin && wholePinOpened", pin='currentPin', on-close='toggleWholePinOpened()', open-profile='openProfile(userId)')
