<table class="content-info-window">
  <tr>
    <td class="title-on-map"> {{ currentPin.title }} </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="description-on-map"> {{ currentPin.description }} </td>
    <td></td>
    <td class="image-cell-on-map">
      <img class="image-on-map" src="{{ currentPin.image }}">
    </td>
  </tr>
  <tr>
    <td>
      <a class="creator-on-map link-to-profile" ng-click="openProfile(currentPin.creator._id)"> by {{ currentPin.creator.username }} </a>
    </td>
    <td class="actions">
      <span class="likes-count"> {{ likes.length }} </span>
      <span class="like glyphicon" ng-class="hasLiked() ? 'glyphicon-thumbs-down' : 'glyphicon-thumbs-up'" ng-click="like()"> </span>
      <span class="comments-count"> {{ comments.length }} </span>
      <span class="comments-link glyphicon glyphicon-comment"></span>
    </td>
    <td class="see-more-link"
      <a class="see-more-link" ng-click="toggleWholePinOpened()"> see more </a>
    </td>
  </tr>
</table>
